<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit User</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<style>
.form-group {
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

.inputfields {
	width: 300px;
}

.center-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form-container {
	width: 400px;
}
</style>
</head>
<body>

	<div class="center-form">
		<div class="form-container">
			<h1>Edit User</h1>

			<form id="editUserForm" th:action="@{'/api/users/' + ${user.id}}"
				method="put" onsubmit="submitForm(event)">
				<input type="hidden" th:field="*{user.id}" />

				<div class="form-group">
					<label for="name">Name:</label> <input type="text"
						class="form-control inputfields" id="name" name="name"
						th:value="${user.name}" />
				</div>

				<div class="form-group">
					<label for="phone">Phone:</label> <input type="text"
						class="form-control inputfields" id="phone" name="phone"
						th:value="${user.phone}" />
				</div>
				<div class="form-group">
					<label for="email">Email:</label> <input type="email"
						class="form-control inputfields" id="email" name="email"
						th:value="${user.email}" />
				</div>

				<div class="form-group">
					<label for="birthyear">Birth Year:</label> <input type="number"
						class="form-control inputfields" id="birthyear" name="birthyear"
						th:value="${user.birthyear}" />
				</div>

				<div class="form-group">
					<label for="username">Username:</label> <input type="text"
						class="form-control inputfields" id="username" name="username"
						th:value="${user.username}" required />
				</div>


				<div class="form-group">
					<label for="role">Role:</label> <select
						class="form-control inputfields" id="role" name="role" required>
						<option value="ROLE_ADMIN">Admin</option>
					</select>
				</div>

				<button type="submit" class="btn btn-primary">Save changes</button>
			</form>

			<div class="btn-group">
				<a href="http://localhost:8080" class="btn btn-info">Back to the
					front page</a>
			</div>

			<div class="btn-group">
				<a href="http://localhost:8080/users" class="btn btn-info"> Back
					to the userlist</a>
			</div>


			<script>
                function submitForm(event) {
                    event.preventDefault();

                    var form = document.getElementById('editUserForm');
                    var formData = new FormData(form);

                    var jsonObject = {};
                    formData.forEach((value, key) => {
                        jsonObject[key] = value;
                    });

                    fetch(form.action, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(jsonObject),
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        window.location.href = '/users';
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
                }
            </script>
		</div>
	</div>

</body>
</html>
